.container {
    display: flex;
    min-height: 100vh;

}

.sidebar {
    width: 250px;
    /* background-color: #7BA084; */
    background-color: #790549;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 10px;
    background-color: #9A1764;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #FB84CD;
}

.produto, .clientes, .pdv{
    display: flex;
    align-items: center; 
    justify-content: left; 
}

.img_produto, .img_clientes, .img_pdv, .img_dashboard{
    margin-right: 15px;
    width: 29px;
    height: 29px;
    color: #fff;
}
